<div class="character-details-contianer">
  <div class="buttons">
    <div class="back-button">
      <button routerLink="/Characters">Back</button>
    </div>
    <div class="other-buttons">
      <button class="download">Download</button>
      <button class="feedback">Feedback</button>
    </div>
  </div>
  <div class="title">
    <div class="left">
      <h2>{{name}}</h2>
      <h3>Created by {{currentCharacter.createdBy}}</h3>
    </div>
  </div>

  <div class="description" *ngIf="currentCharacter.description.length>0">
    <h1 class="section-heading">Description</h1>
    <p *ngFor="let detail of currentCharacter.description">{{detail}}</p>
  </div>

  <div class="sketches" *ngIf="currentCharacter.sketches.length>0">
    <h1 class="section-heading">Sketches</h1>
    <div *ngFor="let img of currentCharacter.sketches" class="image-container">
      <img [src]="img">
    </div>
  </div>
</div>
