.footer-container {
  margin-top: 200px;
  width: 100%;
  height: 180px;
  background: #FFC636;
  text-align: right;
}

.disclaimer {
  margin: 0 30px;
  padding: 35px 0;
  text-align: center;
  position: absolute;
  width: 30%;
  color: #FFF;
  left: 0;
  font-style: italic;
}

.right-side {
  margin: 0 30px;
  padding: 20px 0;
  width: 30%;
  display: inline-block;
  text-align: left;
  color: #fff;
}

.icons {
  height: 30px;
  width: 30px;
  margin: 30px 15px;
  display: inline-block;
}

.footer-container span {
  font-size: 30px;
}

.icons img {
  max-width: 100%;
}

.hide-url {
  color: #fff;
}
