<div class="footer-container">

  <div class="disclaimer">
    <p>This material is based upon work supported by the ADVANCE RIT grant which is funded through the National Science Foundation under
      Award No.
      HRD-1209115.
    </p>
    <p>Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not
      necessarily reflect
      the views of the National Science Foundation.</p>
  </div>
  <div class="right-side">
    <div class="right-top-text">

      <span> Keep up with us:</span>
      <div class="icons">

        <a href="https://www.facebook.com/CharacterMosaic/" target="_blank">
          <img src="./assets/facebook.svg">
        </a>
      </div>
    </div>
    <div>
      Website created and maintained by
      <a class="hide-url" href="http://siddhant.design/" target="_blank">Siddhant Shah</a>.
    </div>
  </div>
</div>
