.footer-container {
  margin-top: 200px;
  width: 100%;
  height: 180px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disclaimer {
  margin: 0 30px;
  padding: 35px 0;
  text-align: center;
  width: 30%;
  left: 0;
  font-style: italic;
}

.right-side {
  margin: 0 30px;
  padding: 20px 0;
  width: 30%;
  display: inline-block;
  text-align: left;
}

.icons {
  height: 30px;
  width: 30px;
  margin: 0 15px;
  display: inline-block;
}

.footer-container span {
  font-size: 30px;
}

.icons img {
  max-width: 100%;
}

.right-top-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    margin-top: 100px;
  }
  .disclaimer,
  .right-side {
    width: 100%;
    padding: 0 30px;
  }
  .right-top-text {
    justify-content: center;
    align-items: center;
  }
  .footer-container span {
    font-size: 20px;
  }

  .icons {
    width: 20px;
  }
}
