<div class="about-cmp">
  <h2>About Character Mosaic</h2>
  <p>The Character Mosaic Project aims to make diverse characters more accessible thereby encouraging animators and filmmakers to make more ethnically
    inclusive stories. The goal is to build eight 3D characters from various ethnic backgrounds and make them available for free public use.
    This can allow more people to see diversity in animated films, thereby helping alleviate subconscious bias in the media.</p>
  <p>The project is being lead by Assistant Professor Atia Newman and Assistant Professor Mark Reisch. The design competitions and the jurying process
    will be jointly managed by both professors.</p>
  <p>Student recruitment will also be conducted by both professors, after which Mark Reisch will take the lead on Character Modeling. While Atia
    Newman will take over during the Character Rigging process and both will jointly conduct tests on the characters. Marketing and documentation
    will be managed equally.</p>
</div>


<div class="about-us">
  <h2>About Us</h2>
  <div class="person">
    <div class="image-container">
      <img src="./assets/atia.jpg" alt="">
    </div>
    <div class="description">
      <p>
        Atia Newman is an international 3D animator and is one of the first women to ever work in the Pakistani animation industry. She worked as a 3D
        animator on movies, TV series, commercials, and shipped a AAA game.
      </p>
      <p>She earned her MFA in Animation from Pratt Institute in Brooklyn and worked as a freelance animator until she was offered a full-time teaching
        position at Bowling Green University and thus made the shift into academia.</p>
      <p>Atia enjoys combining animation technology with the aesthetic value of animation art.</p>
      <p>Atia is currently an Assistant Professor at the R.I.T. School of Film and Animation in Rochester, New York, where she continues to work
        on animation projects and influence new generations of animators.</p>
    </div>
  </div>
  <hr>
  <div class="person">
    <div class="image-container">
      <img src="./assets/mark.jpg" alt="">
    </div>
    <div class="description">
      <p>Mark Reisch is a 3D Animator whose work has been seen in several 3D Imax films including Lions 3D and Sea Monsters. He was part of the
        first team to successfully convert live action footage to 3D IMAX film. He worked in Los Angeles after graduating with his BFA from the
        Savannah College of Art and Design.</p>
      <p>Mark’s animation has been seen in feature films, TV specials (including the History Channel’s Battle 360), shorts, and most recently in
        his personal film The Opportunity</p>
      <p>Mark’s interests and areas of focus include character animation, rigging and modeling.</p>
      <p>Mark strives to help each student achieve his or her professional goals by providing clear instruction and honest critiques in a supportive
        environment.
      </p>
    </div>
  </div>
</div>
