.about-cmp,
.about-us,
.hero-text {
  width: 70%;
  margin: 60px auto;
}

.hero-text {
  margin: 175px auto;
}

.hero-text h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
}

.about-cmp h2,
.about-us h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.about-cmp p {
  font-size: 20px;
  margin-bottom: 30px;
}

.person {
  margin: 50px 0;
}

.image-container {
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.description {
  display: inline-block;
  width: 65%;
  margin-left: 30px;
}

.description p {
  margin-bottom: 30px;
  font-size: 20px;
}
