/*
#474143 - brown
#FFC636 - yellow
#00ADA9 - sea green
#FFFFFF - white
#FF6444 - orange

*/

.nav-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-elements-secondary span:hover,
.nav-elements span:hover {
  cursor: pointer;
}

.nav-elements-secondary span {
  margin-right: 1rem;
  padding: 0.5rem;
}

.title {
  font-size: 30px;
}

.active {
  border-bottom: 4px solid #bf8756;
}

@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .nav-elements,
  .nav-elements-secondary {
    text-align: center;
  }
  .nav-elements-secondary {
    margin: unset;
  }
}
