<div class="hero-container">
  <img src="./assets/characters.jpg" alt="">
  <!-- <div class="hero-title">Characters</div> -->
</div>


<div class="character-container" *ngFor="let character of characters">
  <div class="image-container">
    <img [src]="character.image" alt="">
  </div>
  <div class="details-container">
    <div class="name">
      {{character.name}}
    </div>
    <div class="description">
      {{character.description}}
    </div>
    <button class="details" [routerLink]="['/Characters', character.url]">Details</button>
  </div>
  <hr>
</div>
