.hero-text {
  width: 80%;
  margin: 175px auto;
}

.hero-text h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 100;
}

.hero-text h3 {
  margin-top: 50px;
  font-style: italic;
  text-align: right;
}

.home-text {
  width: 70%;
  margin: 60px auto;
}

.home-text a {
  font-size: 30px;
  margin-bottom: 30px;
}

.italics {
  font-style: italic;
  display: block;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .hero-text {
    margin: 30px auto;
  }
  .hero-text h2 {
    font-size: 30px;
  }
  .hero-text h3 {
    font-size: 20px;
    margin: 20px;
  }

  .home-text {
    width: 80%;
    margin: 20px auto;
  }
  .home-text a {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
