<div class="hero-text">
  <h2>There has never been a more important time than now to embrace and affirm those among us who so often have been made to be invisible.</h2>
</div>
<div class="home-text">
  <p>
    The Character Mosaic Project grew out of the need for a more diverse pool of free character rigs for use in animated films. When searching on
    the Internet for well built rigs to use, in Autodesk's Maya, that were non-Caucasian males, what we found was that minorities were severely
    under represented (see image below). With that void of minority representation, there becomes a adverse effect on the number of films and
    games that are not made with minority characters in them.
  </p>

  <p>
    In the past students have taken the Caucasian characters and changed the texture of their skin. The problem is facial bone structure, clothing
    styles, and accessories are not the same for the diversity in culture around the world. Changing the texture on a Caucasian male character
    ends up usually looking like a Caucasian character with a different skin color. This project aims to change that dynamic starting with eight
    characters.
  </p>

  <p>
    Currently we are in the beginning stages of this project. We have a contest open to Rochester Institute of Technology students to find the character
    designs that we will use to create the fully rigged 3D characters.
  </p>

  <p>
    We are glad you are here. Feel free to contact us if you have further questions.
  </p>
</div>
