.home-text {
  width: 70%;
  margin: 60px auto;
}

.hero-text {
  width: 80%;
  margin: 175px auto;
}

.hero-text h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 100;
}

.home-text h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #ff6444;
}

.home-text p {
  font-size: 20px;
  margin-bottom: 30px;
}
