:host {
  display: block;
  height: 100%;
}

.card-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: auto;
  display: flex;
  vertical-align: middle;
  border-radius: 3px;
}

img {
  width: 100%;

  object-fit: contain;
}

.name {
  margin: 5px 0;
  font-size: 26px;
  font-weight: 800;
  color: #bf8756;
}

.details-cta {
  margin: 10px 0;
  padding: 5px;
  width: fit-content;
  border: none;
  background-color: #bf8756;
  color: #401818;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 100ms;
}

.details-cta:hover {
  box-shadow: 0 5px 0 0 #8c5b3e;
  transform: translateY(-2px);
}
