:host {
  display: block;
  height: 100%;
}

.card-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  vertical-align: middle;
  border-radius: 3px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.name {
  margin: 5px 0;
  font-size: 26px;
  font-weight: 800;
}

.details-cta {
  margin: 10px 0;
  padding: 5px;
  width: fit-content;
  border: none;
  border-bottom: 2px solid #bf8756;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  transition-duration: 200ms;
}
.details-cta:hover {
  background-color: #bf8756;
  color: #401818;
}
